# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

*.orig
.sourcemaps/

# Node
node_modules
npm-debug.log*
package-lock.json

# Yarn
yarn-error.log
yarn.lock

# JetBrains

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
$RECYCLE.BIN/
UserInterfaceState.xcuserstate

# Temporary files
docs/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/

# Build files
dist.list
