## IDE
.idea/

## Source code control
.git
.gitmodules

## Test
test/

## Dev scripts
gencode
build
clean
dev
gu
init
lint
publish
update
version
auto-init


## Source config
.editorconfig

## Typescript
src/
tsconfig.json
tslint.json
