## Source code control
.git

## Dev scripts
gencode
auto-init
build
clean
cordova
dev
dist:move
dist:unmove
gu
init
install
install-dev
lint
publish
test
update

## Source config
.editorconfig

## Config
ionic.config.json

## Typescript
src/
tsconfig.json
tsconfig-ng.json
tsconfig-ionic.json
tslint.json

## Ionic
.sass-cache/
.tmp/
.versions/
hooks/
platforms/
plugins/
www/
config.xml

# Node
node_modules
npm-debug.log

# Yarn
yarn-error.log

# JetBrains
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files
coverage/
demo/
docs
tmp

# Library files
src/

# Build files
dist.list
